html, body {
	margin: 0;
	height: 100%;
	font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

div {
	display: block;
}

#nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#nav a {
	margin-right: 20px;
}

#nav a.topimage {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
}

#middle {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	text-align: center;
}

#searchbarcontainer {
	margin-top: 20px;
	text-align: center;
	position: relative;
}

#search, #voice {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search {
	left: 10px;
}

#voice {
	right: 10px;
}

#searchbar {
	padding-top: 10px;
	padding-bottom: 10px;
	outline: 0;
	width: 500px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15px;
	border: 1px solid #c4c4c4;
}

#searchbar:hover {
	box-shadow: 0 0 10px 2px black;
}

#buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.button {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px; 
	background: rgb(231, 231, 231);
	border: 2px solid transparent;
}

#links {
	margin-top: 20px;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
}

.button:hover {
	box-shadow: 0 0 2px 1px black;
	border: 2px solid #eee;
}

#footer {
	background: #eee;
	/*border-top: 1px solid black;
	padding: 20px;*/
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 80px;
	display: inline-block;
}

#footer li {
	display: inline-block;
}

#footer a {
	text-decoration: none;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: grey;
	padding-left: 10px;
	padding-right: 10px;
}

#footer-content {
	float: left;
}

#footer-contentt {
	float: center;
}

#footer-contentt {
	float: right;
}
